header{
  height: 90px;
  border: 1px dashed red;
  background-color: purple;
}
main{
  min-height: 500px;
  background-color: blanchedalmond;
}
.p_tbdr{
  border: 1px dashed blue;
}
section{
  border: 1px dashed brown;
}
footer{
  height: 80px;
  border: 1px solid black;
  background-color: aqua;
}